<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 注解支持 -->
	<context:annotation-config />
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.chenjh" />

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:conf.properties</value>
		</property>
		<property name="propertiesPersister">
			<bean class="com.chenjh.util.DataSourcePropertiesPersister" />
		</property>
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<bean class="com.chenjh.util.MyApplicationContextUtil"></bean>
	
	<bean id="taskRun" class="com.chenjh.controller.CrawlTaskRun">
		<property name="nvdCrawl"  ref="crawlController"></property>
		<!--更新结束时间-->
		<property name="crawlTaskService" ref="crawlTaskService"></property>
	</bean>

	<import resource="spring_dataSource.xml" />
	<import resource="spring_mybatis.xml" />
	<import resource="spring_task.xml" />
	<import resource="spring_nvd.xml" />

</beans>
